#header{
    position: relative;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

#header img{
    position: absolute;
    width: 80%;
    height: auto;
    left: 10%;
    opacity: 0.2;
}

#headLogo{
    position: relative;
    margin-left: 2%;
    left: 10%;
    width: 120px;
    height: 120px;
    background-color: rgb(255,50,50);
    text-align: center;
    border-radius: 10%;
}

.buttons{
    width: 315px;
    height: 48px;
    position: relative;
    margin-left: 40%;
}

.faq{
    text-align: center;
}

.utvalgButtons{
    width: auto;
    height: auto;
    position: relative;
    margin-left: 35%;
}

#content{
    margin-top: 0;
    margin-right: 10%;
    margin-bottom: 0;
    margin-left: 10%;
    width: auto;
    font-family: sans-serif;
}

.indexBtn{
    margin: 0;
    font-size: 1.6em;
    font-family: sans-serif;
    padding: 5px;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid rgb(50,50,50);
    border-right: 1px solid rgb(50,50,50);
    border-top: 1px solid rgb(50,50,50);
    background-color: rgb(250,250,250);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ie-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.3s;
}

.utvalgMenu{
    margin: 0;
    font-size: 1em;
    font-family: sans-serif;
    padding: 5px;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid rgb(50,50,50);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ie-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.3s;
}

.utvalgMenu:hover{
    background-color: rgb(220,220,220);
}

.indexBtn:hover{
    background-color: rgb(220,220,220);
}

hr {
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;
}

body.home div.home, body.utvalg div.utvalg, body.about div.about, body.utvalg div.finn{
    background-color: rgb(255,170,170);
}