/* Header css start */

#header{
    position: relative;
    margin: auto;
    width: auto;
    height: 260px;
    overflow: hidden;
    font-size: 1.6em;
}

#headerTools{
    font-family: sans-serif;
    position: relative;
    text-align: right;
    right: 10%;
}

#westerdals{
    font-size: 0.6em;
}

#smaller{
    font-size: 0.6em;
}

#bigger{
    font-size:0.9em;
}

#bg{
    position: absolute;
    width: 80%;
    height: auto;
    left: 10%;
    opacity: 0.2;
}

#headLogo{
    position: relative;
    width: auto;
    text-align: center;
}

.buttons{
    width: auto;
    height: 55px;
    position: relative;
    text-align: center;
    background-color: rgb(255,255,255);
}

/* Header css end */

a{
    color: rgb(100,100,100);
}

.faq{
    text-align: center;
}

#content{
    margin-top: 0;
    margin-right: 15%;
    margin-bottom: 0;
    margin-left: 15%;
    width: auto;
    font-family: sans-serif;
    color: rgb(50,50,50);
}

#utvalgBtn{
    margin: 10px;
    padding: 0;
    width: 100px;
    font-family: sans-serif;
    display: inline-block;
}

#fUtvalgBtn{
    margin: 10px;
    padding: 0;
    width: 260px;
    font-family: sans-serif;
    display: inline-block;
}

#faqBtn{
    margin: 10px;
    padding: 0;
    width: 100px;
    font-family: sans-serif;
    display: inline-block;
}

.indexBtn:hover{
    font-weight: bold;
}

body.home div.home, body.utvalg div.utvalg, body.forUtvalg div.forUtvalg {
    font-weight: bold;
    text-decoration: underline;
}

/* Utvalg visitkort start */

.visitkortWrapper{
    position: relative;
    width: 95%;
    height: auto;
    left: 2.5%;
    overflow: hidden;
}

.visitkort{
    margin: 2%;
    padding: 15px;
    background-color: rgb(250,250,250);
    text-align: left;
    width: 300px;
    height: 350px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    float: left;
    position: relative;
    -webkit-transition: box-shadow 0.2s;
}

.visitkort:hover{
    box-shadow: 0px 0px 25px rgb(97,175,200);
}

.utvalgLogo{
    width: auto;
    height: 120px;
    border-bottom-style: solid;
    overflow: hidden;
    text-align: center;
}

.utvalgLogo img{
    max-height: 110px;
    max-width: 90%;
    margin: auto;
}

.visitkort hr{
    width: 80%;
}

.categoryBtn{
    width: auto;
    height: auto;
    display: inline-block;
    margin: 5px;
    position: relative;
    float: inherit;
    border: 2px solid;
    border-radius: 5px;
    -webkit-transform: background-color: rgb(100,200,200);
}

.categoryBtn input{
    display: none;
}

.categoryBtn label{
    display: inline-block;
    padding: 8px;
}

.categoryBtn:hover{
    background-color: rgb(255, 208, 102);
}

.categoryBtn input:checked + label{
    background-color: rgb(125, 195, 152);
}

.name{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase
}

.tags{
    position: absolute;
    bottom: 0%;
}

/* Specific for cards in foreslåtte utvalg */

.visitkort_f_u{
    margin: 2%;
    padding: 15px;
    background-color: rgb(250,250,250);
    text-align: left;
    width: 300px;
    height: 350px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    float: left;
    position: relative;
    -webkit-transition: box-shadow 0.2s;
}

.votes{
    position: absolute;
    bottom: 0%;
}

.votes{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 28%;
}

.votes p{
    margin-left: 24%;
}

.votes input{
    margin-left: 39%;
}