/* Header css start */

#header{
    position: relative;
    margin: auto;
    width: auto;
    height: 260px;
    overflow: hidden;
    font-size: 1.6em;
}

#headerTools{
    font-family: sans-serif;
    position: relative;
    text-align: right;
    right: 10%;
}

#westerdals{
    font-size: 0.6em;
}

#smaller{
    font-size: 0.6em;
}

#bigger{
    font-size:0.9em;
}

#bg{
    position: absolute;
    width: 80%;
    height: auto;
    left: 10%;
    opacity: 0.2;
}

#headLogo{
    position: relative;
    width: auto;
    text-align: center;
}

.buttons{
    width: auto;
    height: 55px;
    position: relative;
    text-align: center;
    background-color: rgb(255,255,255);
}

/* Header css end */

a{
    color: rgb(100,100,100);
}

.faq{
    text-align: center;
}

#content{
    margin-top: 0;
    margin-right: 10%;
    margin-bottom: 0;
    margin-left: 10%;
    width: auto;
    font-family: sans-serif;
}

#utvalgBtn{
    margin: 10px;
    padding: 0;
    width: 100px;
    font-family: sans-serif;
    display: inline-block;
}

#fUtvalgBtn{
    margin: 10px;
    padding: 0;
    width: 260px;
    font-family: sans-serif;
    display: inline-block;
}

#faqBtn{
    margin: 10px;
    padding: 0;
    width: 100px;
    font-family: sans-serif;
    display: inline-block;
}

.indexBtn:hover{
    font-weight: bold;
}

body.home div.home, body.utvalg div.utvalg, body.about div.about, body.utvalg div.finn{
    font-weight: bold;
    text-decoration: underline;
}